body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Monster";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Monster\ Clubhouse.ttf") format("truetype");
}
